html,
body {
	font-family: 'Merriweather', serif;
	padding: 0;
	margin: 0;
}

.navbar {
	background-color: black;
	height: 60px;
	width: 100vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.navbar_text {
	margin: 30px;
	color: white;
	font-size: 2em;
}

main {
	margin: 30px;
}

a:link {
	color: #F62C33;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #F62C33;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: #F62C33;
	font-weight: 900;
	text-decoration: none;
}

/* selected link */
a:active {
	color: #F62C33;
	text-decoration: none;
}

li:not(:last-child) {
	margin-bottom: 5px;
}

.centerContainer {
	display: flex;
    justify-content: center;
	align-items: center;
	height: 40px;
}

.space {
	display:inline-block;
	width: 20px;
}
